Repository khuyentran1401/data-science-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

add predict_model build_features
  src/build_features.py
  src/predict_model.py
Due: none

update
  pyproject.toml
  src/model1/__init__.py
Due: check-toml

Create create_folds.py
  src/create_folds.py
Due: none

Create exploration.ipynb
  notebooks/exploration.ipynb
Due: none

Update README.md
  README.md
Due: none

Update Python version in pyproject.toml
  {{cookiecutter.directory_name}}/pyproject.toml
Due: check-toml

Initiate Git and install dependencies
  {{cookiecutter.directory_name}}/Makefile
  {{cookiecutter.directory_name}}/README.md
Due: none

Disable pass_filenames for interrogate hook
  {{cookiecutter.directory_name}}/.pre-commit-config.yaml
Due: check-yaml

Refactor config parameter in process_data and train_model functions
  {{cookiecutter.directory_name}}/src/process.py
  {{cookiecutter.directory_name}}/src/train_model.py
Due: none

Add ruff, mdformat, and interrogate to pre-commit-config.yaml and update pyproject.toml with new dependencies
  {{cookiecutter.directory_name}}/.pre-commit-config.yaml
  {{cookiecutter.directory_name}}/pyproject.toml
Due: check-toml, check-yaml

edit Hydra config file
  {{cookiecutter.directory_name}}/config/main.yaml
  {{cookiecutter.directory_name}}/src/process.py
  {{cookiecutter.directory_name}}/src/train_model.py
Due: check-yaml

Delete dvc.yaml config file
  {{cookiecutter.directory_name}}/dvc.yaml
Due: check-yaml

Add ruff hook to pre-commit config
  {{cookiecutter.directory_name}}/.pre-commit-config.yaml
Due: check-yaml

Add ruff to pyproject.toml
  {{cookiecutter.directory_name}}/pyproject.toml
Due: check-toml

Exclude Ruff cache from version control
  {{cookiecutter.directory_name}}/.gitignore
Due: none

Update README.md
  {{cookiecutter.directory_name}}/README.md
Due: none

Update Makefile to force pdoc overwrite existing docs
  {{cookiecutter.directory_name}}/Makefile
Due: none

Add cookiecutter slugs to pyproject.toml
  {{cookiecutter.directory_name}}/pyproject.toml
Due: check-toml

Update cookiecutter.json
  cookiecutter.json
Due: none

add black to pre-commit
  {{cookiecutter.directory_name}}/.pre-commit-config.yaml
Due: check-yaml

edit the config for ruff in pyproject.toml
  {{cookiecutter.directory_name}}/pyproject.toml
Due: check-toml

delte flake8
  {{cookiecutter.directory_name}}/.flake8
Due: none

Update typo in pyproject.toml
  {{cookiecutter.directory_name}}/pyproject.toml
Due: check-toml

changes authors in pyproject.toml to an array
  {{cookiecutter.directory_name}}/pyproject.toml
Due: check-toml

Ignore init method, module level docstrings, and adjust verbose=0
  {{cookiecutter.directory_name}}/.pre-commit-config.yaml
Due: check-yaml

Remove pep-8 naming
  {{cookiecutter.directory_name}}/pyproject.toml
Due: check-toml

customized template files
  {{cookiecutter.directory_name}}/config/main.yaml
  {{cookiecutter.directory_name}}/data/raw/sample.csv
  {{cookiecutter.directory_name}}/src/process.py
Due: check-yaml

Added basic logging
  {{cookiecutter.directory_name}}/src/process.py
Due: none

remove interrogate
  {{cookiecutter.directory_name}}/.pre-commit-config.yaml
Due: check-yaml

Makefile para mi tipo de trabajo
  {{cookiecutter.directory_name}}/Makefile
Due: none

Se agrega Makefile al ignore
  {{cookiecutter.directory_name}}/.gitignore
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
