Repository khuyentran1401/data-science-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Se agrega varios tipos de archivo que genera EMACS al gitignore
  {{cookiecutter.directory_name}}/.gitignore
Due: none

se agrega pipfile.lock
  {{cookiecutter.directory_name}}/.gitignore
Due: none

Se actualiza el pre-commit
  {{cookiecutter.directory_name}}/.pre-commit-config.yaml
Due: check-yaml

Se agrea ruf al precommit
  {{cookiecutter.directory_name}}/.pre-commit-config.yaml
Due: check-yaml

se agrega hydra al requerimients
  {{cookiecutter.directory_name}}/requirements.txt
Due: none

se define structura standar
  README.md
  {{cookiecutter.directory_name}}/.gitignore
  {{cookiecutter.directory_name}}/Makefile
  {{cookiecutter.directory_name}}/Pipfile
  {{cookiecutter.directory_name}}/requirements.txt
Due: none

se agregan ciertas modificaciones menores
  README.md
  {{cookiecutter.directory_name}}/pyproject.toml
Due: check-toml

Update Pipfile
  {{cookiecutter.directory_name}}/Pipfile
Due: none

Update README.md
  README.md
Due: none

Update pyproject.toml
  {{cookiecutter.directory_name}}/pyproject.toml
Due: check-toml

Add ipykernel to pyproject.toml
  {{cookiecutter.directory_name}}/requirements.txt
Due: none

Create print_hydra.py
  {{cookiecutter.directory_name}}/config/print_hydra.py
Due: none

Update print_hydra.py
  {{cookiecutter.directory_name}}/config/print_hydra.py
Due: none

Update README.md
  {{cookiecutter.directory_name}}/README.md
Due: none

add github repo
  cookiecutter.json
Due: none

Create sagemaker_lifecycle.sh
  {{cookiecutter.directory_name}}/config/sagemaker_lifecycle.sh
Due: none

Update sagemaker_lifecycle.sh
  {{cookiecutter.directory_name}}/config/sagemaker_lifecycle.sh
Due: none

remote .dvc
  {{cookiecutter.directory_name}}/.dvc/.gitignore
  {{cookiecutter.directory_name}}/.dvc/config
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
