Repository khuyentran1401/data-science-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

upgrade ruff to 0.2.0
  {{cookiecutter.__directory_name}}/.pre-commit-config.yaml
Due: check-yaml

ignore files in data and notebooks directories
  {{cookiecutter.__directory_name}}/.gitignore
Due: none

update readme
  {{cookiecutter.__directory_name}}/README.md
Due: none

add requirements-dev.txt and change README
  hooks/post_gen_project.py
  {{cookiecutter.__directory_name}}/README.md
  {{cookiecutter.__directory_name}}/pyproject.toml
  {{cookiecutter.__directory_name}}/requirements-dev.txt
  {{cookiecutter.__directory_name}}/requirements.txt
Due: check-toml

Edit pip install in Makefile
  {{cookiecutter.__directory_name}}/Makefile
Due: none

move src code in new subfolder
  {{cookiecutter.__directory_name}}/src/{{cookiecutter.__directory_name}}/__init__.py
  {{cookiecutter.__directory_name}}/src/{{cookiecutter.__directory_name}}/process.py
  {{cookiecutter.__directory_name}}/src/{{cookiecutter.__directory_name}}/train_model.py
Due: none

switch from pdoc to sphinx
  {{cookiecutter.__directory_name}}/Makefile
  {{cookiecutter.__directory_name}}/pyproject.toml
Due: check-toml

remove pwd command
  {{cookiecutter.__directory_name}}/Makefile
Due: none

update folder structuren add credits to original repository
  README.md
  {{cookiecutter.__directory_name}}/README.md
Due: none

remove duplicate [tool.poetry.dependencies] block
  {{cookiecutter.__directory_name}}/pyproject.toml
Due: check-toml

fix bad echo command
  {{cookiecutter.__directory_name}}/Makefile
Due: none

replace pdoc with sphinx
  {{cookiecutter.__directory_name}}/requirements-dev.txt
Due: none

fix bad config path
  {{cookiecutter.__directory_name}}/src/{{cookiecutter.__directory_name}}/process.py
Due: none

Update README.md
  README.md
Due: none

add utils.py file
  {{cookiecutter.__directory_name}}/README.md
  {{cookiecutter.__directory_name}}/src/utils.py
Due: none

add mypy to pre-commit
  {{cookiecutter.__directory_name}}/.pre-commit-config.yaml
  {{cookiecutter.__directory_name}}/pyproject.toml
  {{cookiecutter.__directory_name}}/requirements-dev.txt
Due: check-toml, check-yaml

update python default version
  cookiecutter.json
Due: none

Create LICENSE
  LICENSE
Due: none

Add 'multirun' folder to '.gitignore' to ignore hydra output from runs with multirun option.
  {{cookiecutter.__directory_name}}/.gitignore
Due: none

Change identifier of dev dependencies following 'poetry' version >= '2.0.0' best practices.
  {{cookiecutter.__directory_name}}/pyproject.toml
Due: check-toml

Add installing 'poetry shell plugin' as step in makefile.
  {{cookiecutter.__directory_name}}/Makefile
Due: none

Add 'poetry shell plugin' to 'Tools used' in project- and repo-level readme files.
  README.md
  {{cookiecutter.__directory_name}}/README.md
Due: none

Bump pre-commit hooks' versions to latest stable release
  {{cookiecutter.__directory_name}}/.pre-commit-config.yaml
Due: check-yaml

add uv
  cookiecutter.json
  hooks/post_gen_project.py
  {{cookiecutter.__directory_name}}/.python-version
  {{cookiecutter.__directory_name}}/Makefile
  {{cookiecutter.__directory_name}}/README.md
  {{cookiecutter.__directory_name}}/pyproject.toml
  {{cookiecutter.__directory_name}}/requirements-dev.txt
  {{cookiecutter.__directory_name}}/requirements.txt
Due: check-toml

fix readme
  {{cookiecutter.__directory_name}}/README.md
Due: none

remove extra space in cookiecutter template
  {{cookiecutter.__directory_name}}/README.md
Due: none

don't remove space after the cookicutter block
  {{cookiecutter.__directory_name}}/README.md
Due: none

replace python with python3
  {{cookiecutter.__directory_name}}/README.md
Due: none

update readme
  README.md
Due: none

add ruff formatter and remove black
  {{cookiecutter.__directory_name}}/.pre-commit-config.yaml
  {{cookiecutter.__directory_name}}/pyproject.toml
Due: check-toml, check-yaml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
