Repository khuyentran1401/data-science-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

add post_gen_project.py
  cookiecutter.json
  hooks/post_gen_project.py
Due: none

handle dvc files
  hooks/post_gen_project.py
Due: none

infer __directory_name
  cookiecutter.json
  {{cookiecutter.__directory_name}}/.gitignore
  {{cookiecutter.__directory_name}}/.pre-commit-config.yaml
  {{cookiecutter.__directory_name}}/Makefile
  {{cookiecutter.__directory_name}}/README.md
  {{cookiecutter.__directory_name}}/config/main.yaml
  {{cookiecutter.__directory_name}}/config/model/model1.yaml
  {{cookiecutter.__directory_name}}/config/model/model2.yaml
  {{cookiecutter.__directory_name}}/config/process/process1.yaml
  {{cookiecutter.__directory_name}}/config/process/process2.yaml
  {{cookiecutter.__directory_name}}/data/final/.gitkeep
  {{cookiecutter.__directory_name}}/data/processed/.gitkeep
  {{cookiecutter.__directory_name}}/data/raw.dvc
  {{cookiecutter.__directory_name}}/data/raw/.gitkeep
  {{cookiecutter.__directory_name}}/docs/.gitkeep
  {{cookiecutter.__directory_name}}/models/.gitkeep
  {{cookiecutter.__directory_name}}/notebooks/.gitkeep
  {{cookiecutter.__directory_name}}/src/__init__.py
  {{cookiecutter.__directory_name}}/src/process.py
  {{cookiecutter.__directory_name}}/src/train_model.py
  {{cookiecutter.__directory_name}}/tests/__init__.py
  {{cookiecutter.__directory_name}}/tests/test_process.py
  {{cookiecutter.__directory_name}}/tests/test_train_model.py
  {{cookiecutter.__directory_name}}/{{ cookiecutter.__dep_filename }}
Due: check-yaml

rename GithubExtension
  __pycache__/local_extensions.cpython-310.pyc
  cookiecutter.json
  hooks/post_gen_project.py
  local_extensions.py
  {{cookiecutter.__directory_name}}/.dvc/.gitignore
  {{cookiecutter.__directory_name}}/.dvc/config
  {{cookiecutter.__directory_name}}/dvc.yaml
Due: check-yaml

remove __pycache__
  __pycache__/local_extensions.cpython-310.pyc
Due: none

refactor local_extensions.py
  local_extensions.py
Due: none

fix README.md
  __pycache__/local_extensions.cpython-310.pyc
  {{cookiecutter.__directory_name}}/README.md
Due: none

fix post_gen_project.py
  hooks/post_gen_project.py
Due: none

Update README.md
  README.md
Due: none

rename dvc in cookiecutter.json
  cookiecutter.json
Due: none

add use_use_data_version_control option
  cookiecutter.json
Due: none

Update post_gen_project.py to use correct cookiecutter variable
  __pycache__/local_extensions.cpython-310.pyc
  hooks/post_gen_project.py
Due: none

Change data version control option to "none" and remove DVC related files if selected
  cookiecutter.json
  hooks/post_gen_project.py
Due: none

add jinja template to readme
  README.md
Due: none

add jinja template to readme
  README.md
  {{cookiecutter.__directory_name}}/README.md
Due: none

change title in readme
  {{cookiecutter.__directory_name}}/README.md
Due: none

fix readme
  {{cookiecutter.__directory_name}}/README.md
Due: none

add jinja template to Makefil and fix readme
  {{cookiecutter.__directory_name}}/Makefile
  {{cookiecutter.__directory_name}}/README.md
Due: none

fix space in makefile
  {{cookiecutter.__directory_name}}/Makefile
Due: none

remove dvc
  README.md
  cookiecutter.json
  hooks/post_gen_project.py
  {{cookiecutter.__directory_name}}/.dvc/.gitignore
  {{cookiecutter.__directory_name}}/.dvc/config
  {{cookiecutter.__directory_name}}/README.md
  {{cookiecutter.__directory_name}}/data/raw.dvc
  {{cookiecutter.__directory_name}}/dvc.yaml
  {{cookiecutter.__directory_name}}/{{ cookiecutter.__dep_filename }}
Due: check-yaml

delete jinja extension and fix post_gen_project.py
  cookiecutter.json
  hooks/post_gen_project.py
  local_extensions.py
  {{cookiecutter.__directory_name}}/pyproject.toml
  {{cookiecutter.__directory_name}}/requirements.txt
Due: check-toml

fix space in pyproject.toml and fix post_gen_project.py
  hooks/post_gen_project.py
  {{cookiecutter.__directory_name}}/pyproject.toml
Due: check-toml

use hydra version 1.2
  {{cookiecutter.__directory_name}}/config/main.yaml
  {{cookiecutter.__directory_name}}/src/process.py
  {{cookiecutter.__directory_name}}/src/train_model.py
Due: check-yaml

keep test files empty
  {{cookiecutter.__directory_name}}/tests/test_process.py
  {{cookiecutter.__directory_name}}/tests/test_train_model.py
Due: none

fix train_model.py
  {{cookiecutter.__directory_name}}/src/train_model.py
Due: none

adjust space in readme
  {{cookiecutter.__directory_name}}/README.md
Due: none

update ruff config
  {{cookiecutter.__directory_name}}/pyproject.toml
Due: check-toml

update the init file of tests
  {{cookiecutter.__directory_name}}/tests/__init__.py
Due: none

ignore everything in the data directory except gitkeep
  {{cookiecutter.__directory_name}}/.gitignore
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
